<!DOCTYPE html>
<html>

<head>
  <title>SUDOKU</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/main.css') }}" />
  <script src="{{ url_for('static', filename = 'JS/app.js') }}"></script>
</head>

<body>
  <center>
    <h1>SUDOKU</h1>
    <div class="message-container">
      <h3>
        <!-- Show Message in here when button clicked -->
      </h3>
    </div>
    <!-- Game Board -->
    <table id="board">
      <tbody>
        {% block gameBoard %}{% endblock %}
      </tbody>
    </table>
    <!-- Done Button -->
    <form>
      <input class="submit-btn" type="button" value="New Game" onclick="newBoard()" />
      <input class="submit-btn" type="button" value="Done" onclick="checkResult()" />
      <input class="submit-btn" type="button" value="Give Up" onclick="showResult()" />
    </form>
  </center>
</body>

</html>